<div class = "row">
  <div class = "col s12 m6 push-m3 row-login">
    <h5 class = "deep-purple-text text-accent-2 h5-login">Create Your Account</h5>
    <div class = "col s12 m10 push-m1">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class = "input-field">
        <%= f.text_field :username, class: "validate", autofocus: true, placeholder: "Your Name" %>
      </div>

      <div class="input-field">
        <%= f.email_field :email, class: "validate", placeholder: "Your Email" %>
      </div>

      <div class="input-field">
        <%= f.password_field :password, autocomplete: "off", class: "validate", placeholder: "Password (minimum 6 caracters)" %>
      </div>

      <div class="input-field">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate", placeholder: "Confirm Your Password" %>
      </div>

      <div class="input-field">
        <button class = "btn-create-user btn waves-effect waves-light"><%= f.submit "Sign up"%> <i class="material-icons right">send</i></button>
        <%= render "devise/shared/links" %>
      </div>
      <% end %>
      </div>
  </div>
</div>
