<div class = "form">
  <%= form_for(product, html: {multipart: true}) do |f| %>
  <% if product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
      <% product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="input-field">
    <%= f.text_field :name, id: "name", class: "validate", placeholder: "Product Name" %>
  </div>

  <div class="input-field">
    <%= f.text_area :description, class: "materialize-textarea", placeholder: "Description" %>
  </div>

  <div class="input-field">
    <%= f.number_field :price, class: "validate", placeholder: "Price" %>
  </div>

  <div class="input-field">
    <%= f.text_field :category, class: "validate", placeholder: "Category" %>
  </div>

  <div class="file-field input-field">
    <div class="btn">
      <span><%= f.file_field :image %>Product Image</span>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>

  <div class = "input-fild">
    <%= f.submit class: "btn-create-product btn waves-effect waves-effect " %>
    <%= link_to 'Back', products_path, class: "btn-create-product btn waves-effect" %>
  </div>

  <% end %>
</div>
