<p id="notice"><%= notice %></p>
<div class = "row">
  <div class = "col s11 m12">
    <p>
    <%= image_tag @product.image.url, class: "materialboxed responsive-img", width: '400' %>

    </p>
    <p>
      <strong>Owner Name:</strong>
      <%= @product.user.username %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @product.price %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @product.category %>
    </p>
    <%= link_to 'Edit', edit_product_path(@product) %>
    <%= link_to 'Back', products_path %>

</div>

</div>
<div class = "divider"></div>
    <div class = "row">
    <span class = "divider"></span>
    <%= render partial: 'comments/form' %>
    <% unless @product.comments.count.zero? %>
      <h3>Comments (<%= @product.comments.size %>)</h3>
    <% end %>
    <%= render partial: 'products/comment', collection: @product.comments %>
  </div>

